BODY { font-family: arial, helvetica, sans-serif }
H2   { font-family: arial, helvetica, sans-serif ; font-size: 14pt; line-height: 100%; font-weight: bold; color: #003399 }
H4   { font-family: arial, helvetica, sans-serif ; font-size: 10pt; line-height: 100%; font-weight: bold }
P    { font-family: arial, helvetica, sans-serif ; font-size: 10pt }
TD   { font-family: arial, helvetica, sans-serif ; font-size: 10pt }
