#
# $Id: //stdlib/dev/etc/stdlib/config/como.config#7 $
#
# configuration file for the Comeau compiler
#
##############################################################################

CXX             = como
CCVER           = $(shell $(CXX) -v foo.c 2>&1 | head -1 | awk '{ print $$3'})
CC_MAJOR        = $(shell echo "$(CCVER)" | sed -n "s/^\([^\.]*\).*/\1/p")
CC_MINOR        = $(shell echo "$(CCVER)" | sed -n "s/^.*\.\([0-9]*\).*/\1/p")

ifeq ($(CC_MINOR),2)
CPPFLAGS        = -I$(TOPDIR)/include/ansi --incl_suffixes ::
CXXFLAGS        = -A -B -x
LDFLAGS         =
else
CPPFLAGS        = -I$(TOPDIR)/include/ansi
CXXFLAGS        = -A -x --no_stdarg_builtin --template_directory=$(BUILDDIR)/lib
LDFLAGS         = --template_directory=$(BUILDDIR)/lib
endif   # CC_MAJOR == 2

WARNFLAGS       = --display_error_number --diag_suppress 11,450,518
DEPENDFLAGS     = -M
PICFLAGS        = 
PRELINKFLAGS    = --prelink_objects


# debug/optimization options
DEBUG_CXXFLAGS  = -g
DEBUG_CPPFLAGS  =

OPTMZ_CXXFLAGS  = -O
OPTMZ_CPPFLAGS  =

# shared/static library options
SHARED_CXXFLAGS = 
SHARED_CPPFLAGS = -D_RWSTD_SHARED_LIB
SHARED_LDFLAGS  = -shared

STATIC_CXXFLAGS =
STATIC_CPPFLAGS =
STATIC_LDFLAGS  =

# Compiler and linker flags for multi-threading
MULTI_CPPFLAGS_POSIX   = -D_REENTRANT 
MULTI_CPPFLAGS_SOLARIS = 
MULTI_CPPFLAGS_DCE     = 

ifeq ($(OSNAME),SunOS)
  MULTI_LDFLAGS_POSIX    = /usr/lib/libpthread.so
else
  MULTI_LDFLAGS_POSIX    = -lpthread
endif
MULTI_LDFLAGS_SOLARIS  = 
MULTI_LDFLAGS_DCE      = 

# Posix
MULTI_CPPFLAGS = $(MULTI_CPPFLAGS_POSIX)
MULTI_LDFLAGS  = $(MULTI_LDFLAGS_POSIX)

SINGL_CPPFLAGS  =
SINGL_LDFLAGS   =
