#
# $Id$
#
# configuration file for Intel C++
#
##############################################################################

CXX = icc

ifeq ($(shell uname -m),ia64)
# check if icc works (prior to 8.0 the name of the IA64 compiler was ecc
  ifneq ($(shell $(CXX) -v >/dev/null 2>&1 && echo $$?),0)
    CXX = ecc
  endif
endif

CCVER          := $(shell $(CXX) -V foo.c 2>&1 | sed -n "s/.*Version *\([0-9.]*\).*/\1/p")
CPPFLAGS        = -I$(TOPDIR)/include/ansi
CXXFLAGS        = -Xc -no_cpprt

WARNFLAGS       = -w1
PHWARNFLAGS     =
DEPENDFLAGS     = -M
PICFLAGS        = -fpic
PRELINKFLAGS    =

ICCDIR          = `which $(CXX) | sed 's:bin/$(CXX):lib:'`

LD              = $(CXX) -no_cpprt $(ICCDIR)/crtxi.o
LDFLAGS         =
LDSOFLAGS       = -shared
LDLIBS          = -Bstatic -lcxa -lunwind -Bdynamic $(ICCDIR)/crtxn.o


# debug/optimization options
DEBUG_CXXFLAGS  = -g
DEBUG_CPPFLAGS  =

OPTMZ_CXXFLAGS  = -O2
OPTMZ_CPPFLAGS  =

# shared/archive library options
SHARED_CXXFLAGS =
SHARED_CPPFLAGS =
SHARED_LDFLAGS  = -Wl,-R$(LIBDIR)

STATIC_CXXFLAGS =
STATIC_CPPFLAGS =
STATIC_LDFLAGS  =

# compiler and linker flags for thread safety
MULTI_CPPFLAGS_POSIX   = -D_REENTRANT
MULTI_CPPFLAGS_SOLARIS = 
MULTI_CPPFLAGS_DCE     = 

MULTI_LDFLAGS_POSIX    = -lpthread
MULTI_LDFLAGS_SOLARIS  = 
MULTI_LDFLAGS_DCE      = 

# POSIX
MULTI_CPPFLAGS = $(MULTI_CPPFLAGS_POSIX)
MULTI_LDFLAGS  = $(MULTI_LDFLAGS_POSIX)

SINGL_CPPFLAGS  =
SINGL_LDFLAGS   =
