#
# $Id$
#
# configuration file for MIPSpro on IRIX
#
##############################################################################

CXX             = CC
CCVER          := $(shell $(CXX) -version 2>&1 | awk '{ print $$4 }')
# disable warnings:
#   1429 - The type "long long" is nonstandard.
#   1460
#   1521 - A nonstandard preprocessing directive is used. (#ident in sys files)
#   3150
#   3333 - Support for placement delete is disabled.
WARNFLAGS       = -ansiW -woff1429,1460,1521,3150,3333
DEPENDFLAGS     = -M
PICFLAGS        = -KPIC
LDSOFLAGS       = -shared
CXXFLAGS        =
PRELINKFLAGS    = -ar -WR,-v -o $(LIBNAME)
CPPFLAGS        = -I$(TOPDIR)/include/ansi

# disable warnings about libs that aren't being used to resolve any symbols
LDFLAGS         = -Wl,-woff,84 -L$(LIBDIR)

# use the undocumented -LANG:std=off option to prevent linking
# with the native C++ Standard Library
LDFLAGS        += -LANG:std=off

# the extension of assembly files is .s
AS_EXT = .s

# debug/optimization options
DEBUG_CXXFLAGS  = -g
DEBUG_CPPFLAGS  =

# disable Olimit (can be easily exceeded)
OPTMZ_CXXFLAGS  = -O -OPT:Olimit=0
OPTMZ_CPPFLAGS  =

# shared/static library options
SHARED_CXXFLAGS =
SHARED_CPPFLAGS =
SHARED_LDFLAGS  =

STATIC_CXXFLAGS =
STATIC_CPPFLAGS =
STATIC_LDFLAGS  =

# multi/single thread options
MULTI_CPPFLAGS_POSIX   = -D_REENTRANT
MULTI_CPPFLAGS_SOLARIS = 
MULTI_CPPFLAGS_DCE     = 

MULTI_LDFLAGS_POSIX    = -lpthread
MULTI_LDFLAGS_SOLARIS  = 
MULTI_LDFLAGS_DCE      = 

# POSIX
MULTI_CPPFLAGS = $(MULTI_CPPFLAGS_POSIX)
MULTI_LDFLAGS  = $(MULTI_LDFLAGS_POSIX)

SINGL_CPPFLAGS  =
SINGL_LDFLAGS   =

# wide (64-bit flags)
WIDE_CXXFLAGS  = -64
WIDE_LDFLAGS   = -64
WIDE_LDSOFLAGS = -64
WIDE_ARFLAGS   =
