#
# $Id$
#
# configuration file for Siemens CDS++ on Reliant UNIX
#
##############################################################################

CXX             = CC
CCVER          := $(shell $(CXX) -V /bogus/file.cpp 2>&1 | head -1 | awk '{ print $4 }')
CXXFLAGS        = -Xe
WARNFLAGS       =
DEPENDFLAGS     = -M
PICFLAGS        = 
PRELINKFLAGS    =
CPPFLAGS        =
LDFLAGS         =

# The flag(s) to use to embed a library search path into generated executables.
# Appropriate flag(s) (if available) not determined at this time.
RPATH =

# debug/optimization options
DEBUG_CXXFLAGS  = -g
DEBUG_CPPFLAGS  =

OPTMZ_CXXFLAGS  = -F O2
OPTMZ_CPPFLAGS  =

# shared/static library options
SHARED_CXXFLAGS = -Kpic
SHARED_CPPFLAGS = -D_RWSTD_SHARED_LIB
SHARED_LDFLAGS  = -G

STATIC_CXXFLAGS =
STATIC_CPPFLAGS =
STATIC_LDFLAGS  =

# multi/single thread options
MULTI_CPPFLAGS  = -D_REENTRANT
MULTI_LDFLAGS   = -lpthread

SINGL_CPPFLAGS  =
SINGL_LDFLAGS   =
