#
# $Id: //stdlib/dev/etc/stdlib/config/vacpp.config#10 $
#
# configuration file for xlc on AIX
#
##############################################################################

# see if the xlCcore command exists and use it in preference to xlC
# xlCcore, available in VAC++ 6.0 patches released since 4/2004,
# avoids linking with the native C++ Standard Library (see PR #28212)
ifneq ($(shell xlCcore /dev/null >/dev/null 2>&1; echo $$?),127)
    CXX := xlCcore

    shared_archive = $(findstring shared,$(BUILDMODE))_$(findstring archive,$(BUILDMODE))

    ifeq ($(shared_archive),shared_archive)
        rtl_enabled = 0
    else
        rtl_enabled  = 1
    endif
else
    CXX := xlC
    rtl_enabled  = 0
endif

# _r suffix links with reentrant versions of system libraries
ifeq ($(findstring pthread,$(BUILDMODE)),pthread)
    CXX := $(CXX)_r
endif

# invoke a script to determine the exact version
CCVER = $(shell etc/config/xlC_version.sh)

# determine the major and minor version of the compiler
CXX_MAJOR       = $(shell echo "$(CCVER)" | sed "s/^\([1-9][0-9]*\).*/\1/")
CXX_MINOR       = $(shell echo "$(CCVER)" | sed "s/[1-9]*\.\([0-9]*\).*/\1/")

# suppress bogus warnings:
# 1540-0152: A template dependent name that is a type must be qualified
#            with "typename".
# 1540-0183: The explicit instantiation should either be explictly
#            qualified or be declared in the namespace containing
#            the template. (See VAC++ 7.0 bug #449.)

ifeq ($(shell expr $(CXX_MAJOR) \< 6),1)
WARNFLAGS       = -qsuppress=1540-0152
endif   # version < 6.0

ifeq ($(CCVER),7.0)
WARNFLAGS     += -qsuppress=1540-0183
endif   # version == 7.0


DEPENDFLAGS     = -MP
CXXFLAGS        = 

# enable C++ C library headers (the <cname> kind)
CPPFLAGS        = -I$(TOPDIR)/include/ansi

PRELINKFLAGS    = -qmkshrobj
LDFLAGS         = $(CPPFLAGS)

ifeq ($(OSNAME),AIX)
  # link with libiconv only on AIX (and not on Linux)
  LDFLAGS      += -liconv

  ifneq ($(rtl_enabled),1)
    # bump up the maximum AIX binder error level from the default of 4
    # to silence ld warning 0711-224 (Duplicate symbol) when the tempinc
    # template instantiation model is active (-qtempinc)
    PRELINKFLAGS += -Wl,-bh:5
    LDFLAGS      += -Wl,-bh:5
  endif

else
  # position-dependent code necessary on Linux only
  PICFLAGS      = -qpic
endif

# when Run-Time Linking is enabled create a dynamically loadable
# library and use run-time linking, otherwise make a shared archive
ifeq ($(rtl_enabled),1)
  LDFLAGS      += -brtl
  LDSOFLAGS     = -G
endif

# debug/optimization options
DEBUG_CXXFLAGS  = -g
DEBUG_CPPFLAGS  =

OPTMZ_CXXFLAGS  = -O -qinline
OPTMZ_CPPFLAGS  =

# shared/archive library options
SHARED_CXXFLAGS = 
SHARED_CPPFLAGS =
SHARED_LDFLAGS  = 

ifeq ($(rtl_enabled),1)
  SHARED_SUFFIX = .so
else
  SHARED_SUFFIX = .a
endif

STATIC_CXXFLAGS =
STATIC_CPPFLAGS =
STATIC_LDFLAGS  =
STATIC_SUFFIX   = .a

# multi/single thread options; xlC_r driver defines -qthreaded
# and _THREAD_SAFE and __VACPP_MULTI__ macros
MULTI_CPPFLAGS_POSIX   = 
MULTI_CPPFLAGS_DCE     = 

# no need to explicitly list libpthread since the xlCxxx_r driver
# implicitly passes -lpthread to the linker
MULTI_LDFLAGS_POSIX    =
MULTI_LDFLAGS_DCE      = 

# POSIX threads
MULTI_CPPFLAGS = $(MULTI_CPPFLAGS_POSIX)
MULTI_LDFLAGS  = $(MULTI_LDFLAGS_POSIX)

SINGL_CPPFLAGS =
SINGL_LDFLAGS  =

# wide (64-bit flags)
WIDE_CXXFLAGS  = -q64 # do not use the overly chatty -qwarn64
WIDE_LDFLAGS   = -q64
WIDE_LDSOFLAGS = -q64
WIDE_ARFLAGS   = -X64

# override default (rv, no leading dash) to make ar -rv -X64 well-formed
ARFLAGS        = -rv

ifeq ($(OSNAME),AIX)
  # default shared object on AIX (not on Linux)
  DEFAULT_SHROBJ = shr.o
endif


# check if the -qtemplateregistry option is recognized
use_tempinc=$(shell    echo "int i;" >/tmp/foo.$$$$.c              \
                    && $(CXX) -c -qmaxerr=1:w -qtemplateregistry   \
                              /tmp/foo.$$$$.c >/dev/null 2>&1;     \
                    echo $$?)

# template repository/registry name override

ifneq ($(use_tempinc),0)
  CXX_REPOSITORY = -qtempinc=
else
  CXX_REPOSITORY = -qtemplateregistry=
endif
